In [4]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
df = pd.read_csv('/home/enture/Documents/dec_18_31/1ab3bd88-aef1-47ec-93e0-f32a0a6048e9_ampl_data.csv')
df.head()

,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671321660,2022-12-18 00:01:00+00,237.90965
0,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671321780,2022-12-18 00:03:00+00,237.85740
1,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671321900,2022-12-18 00:05:00+00,237.86168
2,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671322020,2022-12-18 00:07:00+00,237.29929
3,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671322080,2022-12-18 00:08:00+00,236.88307
4,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671322200,2022-12-18 00:10:00+00,237.00398

In [6]:
columns_name = ['param_id', 'workspace_name', 'meter_name', 'param_name', 'epoch', 'timestamp', 'data']
df.columns = columns_name

In [7]:
df.head()

,param_id,workspace_name,meter_name,param_name,epoch,timestamp,data
0,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671321780,2022-12-18 00:03:00+00,237.85740
1,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671321900,2022-12-18 00:05:00+00,237.86168
2,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671322020,2022-12-18 00:07:00+00,237.29929
3,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671322080,2022-12-18 00:08:00+00,236.88307
4,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671322200,2022-12-18 00:10:00+00,237.00398

In [8]:
df.isnull().sum()

param_id          0
workspace_name    0
meter_name        0
param_name        0
epoch             0
timestamp         0
data              0
dtype: int64

In [9]:
df.shape

(63179, 7)

In [10]:
df['time'] = pd.to_datetime(df['timestamp'])
df.set_index('timestamp', inplace=True)
df.head()

,param_id,workspace_name,meter_name,param_name,epoch,data,time
timestamp,,,,,,,
2022-12-18 00:03:00+00,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671321780,237.85740,2022-12-18 00:03:00+00:00
2022-12-18 00:05:00+00,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671321900,237.86168,2022-12-18 00:05:00+00:00
2022-12-18 00:07:00+00,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671322020,237.29929,2022-12-18 00:07:00+00:00
2022-12-18 00:08:00+00,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671322080,236.88307,2022-12-18 00:08:00+00:00
2022-12-18 00:10:00+00,"192.168.13.133,502,9u,10,4,56,2",BHIWADI/9U/132,ATLAS COMPRESSOR,Voltage L-N,1671322200,237.00398,2022-12-18 00:10:00+00:00

In [11]:
df['param_name'].unique()

array(['Voltage L-N', 'Active Power', 'Current', 'Apparent Power',
       'Reactive Power', 'Active Energy Consumption',
       'Apparent Energy Consumption', 'PF'], dtype=object)

In [12]:
df_pivot = df.pivot(index='time', columns='param_name', values='data')
df_pivot

param_name,Active Energy Consumption,Active Power,Apparent Energy Consumption,Apparent Power,Current,PF,Reactive Power,Voltage L-N
time,,,,,,,,
2022-12-18 00:01:00+00:00,169202.72,0.0,187588.78,0.0,0.0,NaN,0.0,NaN
2022-12-18 00:03:00+00:00,169202.72,0.0,187588.78,0.0,0.0,NaN,0.0,237.85740
2022-12-18 00:05:00+00:00,169202.72,0.0,187588.78,0.0,0.0,NaN,0.0,237.86168
2022-12-18 00:07:00+00:00,169202.72,0.0,187588.78,0.0,0.0,NaN,0.0,237.29929
2022-12-18 00:08:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,236.88307
...,...,...,...,...,...,...,...,...
2022-12-30 23:54:00+00:00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2022-12-30 23:56:00+00:00,169932.52,0.0,188393.62,0.0,0.0,NaN,0.0,230.15248
2022-12-30 23:57:00+00:00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2022-12-30 23:59:00+00:00,169932.52,0.0,188393.62,0.0,0.0,NaN,0.0,229.71619
2022-12-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [13]:
df_pivot.isnull().sum()

param_name
Active Energy Consumption      1973
Active Power                   1975
Apparent Energy Consumption    1978
Apparent Power                 1987
Current                        1971
PF                             9299
Reactive Power                 1975
Voltage L-N                    1975
dtype: int64

In [14]:
selected_columns = ['Reactive Power', 'Active Power', 'Apparent Power', 'PF']
df_filtered = df_pivot[selected_columns]

df_filtered.head()

param_name                 Reactive Power  Active Power  Apparent Power  PF
time
2022-12-18 00:01:00+00:00             0.0           0.0             0.0 NaN
2022-12-18 00:03:00+00:00             0.0           0.0             0.0 NaN
2022-12-18 00:05:00+00:00             0.0           0.0             0.0 NaN
2022-12-18 00:07:00+00:00             0.0           0.0             0.0 NaN
2022-12-18 00:08:00+00:00             NaN           NaN             NaN NaN

In [15]:
df_filtered.isnull().sum()

param_name
Reactive Power    1975
Active Power      1975
Apparent Power    1987
PF                9299
dtype: int64

In [16]:
df_pivot.describe()

param_name,Active Energy Consumption,Active Power,Apparent Energy Consumption,Apparent Power,Current,PF,Reactive Power,Voltage L-N
count,8816.000000,8814.000000,8811.000000,8802.000000,8818.000000,1490.000000,8814.000000,8814.000000
mean,169531.816084,0.798628,187951.511491,0.846930,3.846230,0.003589,0.368270,238.380054
std,263.239135,5.020345,290.239486,5.418443,23.893442,0.056466,2.291149,3.812968
min,169202.720000,0.000000,187588.780000,0.000000,0.000000,0.000000,0.000000,223.313740
25%,169212.610000,0.000000,187599.750000,0.000000,0.000000,0.000000,0.000000,235.718003
50%,169603.200000,0.000000,188030.020000,0.000000,0.000000,0.000000,0.000000,238.218520
75%,169603.200000,0.000000,188030.020000,0.000000,0.000000,0.000000,0.000000,241.123455
max,169932.520000,34.482685,188393.620000,37.976910,161.821120,0.900667,16.560858,250.850650

In [17]:
selected_columns = ['Reactive Power', 'Active Power', 'Apparent Power', 'PF']
df_filtered = df_pivot[selected_columns]

# Interpolate and then backward fill null values in all columns
df_filtered['Reactive Power'] = df_filtered['Reactive Power'].interpolate().bfill()
df_filtered['Active Power'] = df_filtered['Active Power'].interpolate().bfill()
df_filtered['Apparent Power'] = df_filtered['Apparent Power'].interpolate().bfill()

# Calculate 'fv'
fv = df_filtered['Active Power'] / df_filtered['Apparent Power']

# Fill null values in 'PF' column with 'fv' values
df_filtered['PF'] = df_filtered['PF'].fillna(fv)

# Verify the changes
print(df_filtered.isnull().sum())

param_name
Reactive Power       0
Active Power         0
Apparent Power       0
PF                9064
dtype: int64

/tmp/ipykernel_23025/1380998365.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Reactive Power'] = df_filtered['Reactive Power'].interpolate().bfill()
/tmp/ipykernel_23025/1380998365.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Active Power'] = df_filtered['Active Power'].interpolate().bfill()
/tmp/ipykernel_23025/1380998365.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Apparent Power'] = df_filtered['Apparent Power'].interpolate().bfill()
/tmp/ipykernel_23025/1380998365.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['PF'] = df_filtered['PF'].fillna(fv)

In [23]:
df_1.isnull().sum()

param_name
Active Energy Consumption      0
Active power                   0
Apparent Energy Consumption    0
Apparent power                 0
Current                        0
Reactive power                 0
Voltage L-N                    0
dtype: int64

In [ ]:
# Plot line chart
    fig = px.line(df_1.reset_index(), x='time', y=df_pivot.columns, title='Line chart of parameters over Time')
    fig.update_layout(xaxis_title='time', yaxis_title='parameter value', legend_title='parameters')
    fig.show()

    # Daily average power factor
    df_1['date'] = df_pivot.index.date
    df_daily_pf = df_1.groupby('date')['PF'].mean().reset_index()
    df_daily_pf['PF'] = df_daily_pf['PF'].round(2)

    # Plot bar chart for daily average power factor
    fig = px.bar(df_daily_pf, x='date', y='PF', text='PF', labels={'PF': 'average power factor'})
    fig.update_layout(title='average power factor per day', xaxis_title='date', yaxis_title='average power factor',
                      template='plotly_dark')
    fig.show()

    # Daily active power consumption
    active_power_column = 'Active Power'
    df_daily_active_power = df_1.groupby('date')[active_power_column].sum().reset_index()
    df_daily_active_power[active_power_column] = df_daily_active_power[active_power_column].round(2)

    # Plot bar chart for daily active power consumption
    trace_active_power = go.Bar(
        x=df_daily_active_power['date'],
        y=df_daily_active_power[active_power_column],
        text=df_daily_active_power[active_power_column],
        textposition='auto',
        marker=dict(color='Cyan'), 
        name='Daily Active Power Consumption'
    )

    layout_active_power = go.Layout(
        title='Daily Active Power Consumption',
        xaxis=dict(title='Day'),
        yaxis=dict(title='Active Power Consumption'),
        template='plotly_dark'
    )

    fig_active_power = go.Figure(data=[trace_active_power], layout=layout_active_power)
    fig_active_power.update_layout(width=1500, height=400)
    fig_active_power.show()

    # Daily apparent power consumption
    power_column = 'Apparent Power'
    df_daily_apparent_power = df_1.groupby('date')[power_column].sum().reset_index()
    df_daily_apparent_power[power_column] = df_daily_apparent_power[power_column].round(2)

    # Plot bar chart for daily apparent power consumption
    trace_apparent_power = go.Bar(
        x=df_daily_apparent_power['date'],
        y=df_daily_apparent_power[power_column],
        text=df_daily_apparent_power[power_column],
        textposition='auto',
        marker=dict(color='purple'),  
        name=f'Daily {power_column} Consumption'
    )

    layout_apparent_power = go.Layout(
        title=f'Daily {power_column} Consumption',
        xaxis=dict(title='Day'),
        yaxis=dict(title=f'{power_column} Consumption'),
        template='plotly_dark'
    )

    fig_apparent_power = go.Figure(data=[trace_apparent_power], layout=layout_apparent_power)
    fig_apparent_power.update_layout(width=1600, height=400)
    fig_apparent_power.show()

    # Daily reactive power consumption
    power_column = 'Reactive Power'
    df_daily_reactive_power = df_1.groupby('date')[power_column].sum().reset_index()
    df_daily_reactive_power[power_column] = df_daily_reactive_power[power_column].round(2)

    # Plot bar chart for daily reactive power consumption
    trace_reactive_power = go.Bar(
        x=df_daily_reactive_power['date'],
        y=df_daily_reactive_power[power_column],
        text=df_daily_reactive_power[power_column],
        textposition='auto',
        marker=dict(color='green'),
        name='Daily Reactive Power Consumption'
    )

    layout_reactive_power = go.Layout(
        title='Daily Reactive Power Consumption',
        xaxis=dict(title='Day'),
        yaxis=dict(title='Reactive Power Consumption'),
        template='plotly_dark'
    )

    fig_reactive_power = go.Figure(data=[trace_reactive_power], layout=layout_reactive_power)
    fig_reactive_power.update_layout(width=1600, height=400)
    fig_reactive_power.show()